In [2]:
import pandas as pd

In [22]:
df = pd.read_csv('kmpg_insternship_cleaned_data.csv',index_col='transaction_id').sort_index()
df.head()

,product_id,customer_id,transaction_date,online_order,brand,product_line,product_class,product_size,list_price,standard_cost,...,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,address,postcode,state,property_valuation
transaction_id,,,,,,,,,,,,,,,,,,,,,
1,2,2950,2017-02-25,0.0,Solex,Standard,medium,medium,71.49,53.62,...,1955-01-11,Software Engineer I,Financial Services,Mass Customer,Yes,10.0,984 Hoepker Court,3064,VIC,6
2,3,3120,2017-05-21,1.0,Trek Bicycles,Standard,medium,large,2091.47,388.92,...,1979-02-04,Clinical Specialist,Health,Mass Customer,Yes,10.0,4 Shopko Circle,2196,NSW,5
3,37,402,2017-10-16,0.0,OHM Cycles,Standard,low,medium,1793.43,248.82,...,1977-06-03,Desktop Support Technician,Retail,Affluent Customer,No,22.0,586 Miller Parkway,2835,NSW,1
4,88,3135,2017-08-31,0.0,Norco Bicycles,Standard,medium,medium,1198.46,381.10,...,1962-01-14,Staff Scientist,Financial Services,Mass Customer,No,16.0,1617 Harper Parkway,2096,NSW,10
6,25,2339,2017-03-08,1.0,Giant Bicycles,Road,medium,medium,1538.99,829.65,...,1958-12-28,Web Designer II,Property,Affluent Customer,Yes,16.0,7174 Thackeray Point,2153,NSW,10

In [68]:
df.columns

Index(['product_id', 'customer_id', 'transaction_date', 'online_order',
       'brand', 'product_line', 'product_class', 'product_size', 'list_price',
       'standard_cost', 'product_first_sold_date', 'gender',
       'past_3_years_bike_related_purchases', 'job_title',
       'job_industry_category', 'wealth_segment', 'owns_car', 'tenure',
       'address', 'postcode', 'state', 'property_valuation', 'age'],
      dtype='object')

In [25]:
df['age']=pd.DatetimeIndex(df.transaction_date).year-pd.DatetimeIndex(df.DOB).year
df.age

transaction_id
1        62
2        38
3        40
4        55
6        59
         ..
19995    39
19996    23
19997    43
19998    43
20000    21
Name: age, Length: 14062, dtype: int64

In [63]:
for x in df.age[df.age>120].index:
    df.drop(x, inplace=True)

In [67]:
df.drop('DOB',axis=1, inplace=True)

In [73]:
df.to_csv('kmpg_virtual_interm.csv')