In [23]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [24]:
trans_df=pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx",parse_dates=True, sheet_name='Transactions',index_col=0,header=1)

demo_df=pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx",parse_dates=True, sheet_name='CustomerDemographic',index_col=0,header=1)

address_df=pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx",parse_dates=True, sheet_name='CustomerAddress',index_col=0,header=1)

In [25]:
trans_df['transaction_id']=trans_df.index

In [26]:
customers = pd.merge(demo_df,address_df, on="customer_id",how='inner',suffixes=('left','right'))

In [28]:
df.transaction_id.unique()

array([    1, 11065, 18923, ..., 18462, 17981, 18165])

In [29]:
gost_customer_id=[]
for x in trans_df.customer_id:
    if x not in customers.index:
       gost_customer_id.append(x) 
    
set(gost_customer_id)

{3, 10, 22, 23, 5034}

In [30]:
df.drop(['first_name','last_name','order_status','default','deceased_indicator','country'],axis=1,inplace=True)

In [31]:
df.dropna(inplace=True)

In [41]:
df.transaction_id.unique

<bound method Series.unique of 0            1
1        11065
2        18923
3            2
4         6862
         ...
19963    19854
19964    17966
19965    18462
19966    17981
19967    18165
Name: transaction_id, Length: 14062, dtype: int64>

In [33]:
# for x in df.columns:
#     plt.figure(figsize=(20,6))
#     plt.hist(df[x])
#     plt.xticks(rotation=90)
#     plt.title(x)
#     plt.s()

In [34]:
df.corr()

,product_id,customer_id,online_order,list_price,standard_cost,product_first_sold_date,transaction_id,past_3_years_bike_related_purchases,tenure,postcode,property_valuation
product_id,1.000000,0.005345,-0.000399,0.085144,0.029928,-0.051982,-0.007881,-0.004890,-0.016190,0.013372,-0.002592
customer_id,0.005345,1.000000,0.001617,0.021986,0.011792,0.002468,-0.000637,0.012612,-0.023887,0.032477,0.001409
online_order,-0.000399,0.001617,1.000000,-0.003532,0.009001,-0.000244,0.005161,0.002109,0.011721,0.001729,0.000331
list_price,0.085144,0.021986,-0.003532,1.000000,0.554690,0.055252,-0.002561,0.007950,0.001911,0.012264,-0.011227
standard_cost,0.029928,0.011792,0.009001,0.554690,1.000000,0.020921,-0.003457,-0.006522,-0.014170,0.009200,-0.002984
product_first_sold_date,-0.051982,0.002468,-0.000244,0.055252,0.020921,1.000000,-0.002827,0.005173,0.003771,0.006538,-0.007067
transaction_id,-0.007881,-0.000637,0.005161,-0.002561,-0.003457,-0.002827,1.000000,-0.002028,0.000488,0.008310,-0.006345
past_3_years_bike_related_purchases,-0.004890,0.012612,0.002109,0.007950,-0.006522,0.005173,-0.002028,1.000000,-0.017910,-0.021530,0.015151
tenure,-0.016190,-0.023887,0.011721,0.001911,-0.014170,0.003771,0.000488,-0.017910,1.000000,0.007353,-0.026602
postcode,0.013372,0.032477,0.001729,0.012264,0.009200,0.006538,0.008310,-0.021530,0.007353,1.000000,-0.519477
property_valuation,-0.002592,0.001409,0.000331,-0.011227,-0.002984,-0.007067,-0.006345,0.015151,-0.026602,-0.519477,1.000000

In [35]:
df.head()

,product_id,customer_id,transaction_date,online_order,brand,product_line,product_class,product_size,list_price,standard_cost,...,DOB,job_title,job_industry_category,wealth_segment,owns_car,tenure,address,postcode,state,property_valuation
0,2,2950,2017-02-25,0.0,Solex,Standard,medium,medium,71.49,53.62,...,1955-01-11,Software Engineer I,Financial Services,Mass Customer,Yes,10.0,984 Hoepker Court,3064,VIC,6
1,1,2950,2017-10-16,0.0,Giant Bicycles,Standard,medium,medium,1403.50,954.82,...,1955-01-11,Software Engineer I,Financial Services,Mass Customer,Yes,10.0,984 Hoepker Court,3064,VIC,6
2,62,2950,2017-04-26,0.0,Solex,Standard,medium,medium,478.16,298.72,...,1955-01-11,Software Engineer I,Financial Services,Mass Customer,Yes,10.0,984 Hoepker Court,3064,VIC,6
3,3,3120,2017-05-21,1.0,Trek Bicycles,Standard,medium,large,2091.47,388.92,...,1979-02-04,Clinical Specialist,Health,Mass Customer,Yes,10.0,4 Shopko Circle,2196,NSW,5
4,4,3120,2017-10-05,0.0,Giant Bicycles,Standard,high,medium,1129.13,677.48,...,1979-02-04,Clinical Specialist,Health,Mass Customer,Yes,10.0,4 Shopko Circle,2196,NSW,5

In [60]:
df.set_index(df.transaction_id).sort_index(inplace=True)
df.drop('transaction_id',axis=1,inplace=True)

In [62]:
df.to_csv('kmpg_insternship_cleaned_data.csv')

In [67]:
pd.DatetimeIndex(df.DOB).year.value_counts()

1978    858
1977    731
1974    594
1976    544
1979    464
1975    422
1973    419
1980    401
1986    388
1959    355
1985    334
1964    332
1981    324
1998    305
1995    305
1989    297
1992    293
1967    292
1969    290
1987    281
1996    278
1994    278
1988    277
1971    262
1997    258
1965    249
1968    243
1966    238
1956    232
1962    219
1963    215
1999    211
1993    210
1958    203
1960    200
1957    199
1972    195
1961    188
1990    178
1955    177
1970    171
1954    168
1991    165
2000    163
1983    137
1982    127
2001    125
1984    112
1953    107
2002     13
1931     10
1843      8
1943      7
1935      5
1944      5
Name: DOB, dtype: int64

In [69]:
pd.DatetimeIndex(df.transaction_date).year.value_counts()

2017    14062
Name: transaction_date, dtype: int64

In [72]:
df.online_order.value_counts()

1.0    7035
0.0    7027
Name: online_order, dtype: int64